body {
  font-family: "Lucida Sans", Verdana, sans-serif;
}
.header {
  width: 99%;
  height: 80px;
  margin-top: 0;
  padding: 0 10px 0px 10px;
  display: flex;
  background-image: linear-gradient(to right, orange, rgb(173, 65, 65));
  box-shadow: 0 0 3px 3px #f79b07;
  border-radius: 12px;
}
.pagetitle {
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 30px;
}
.pagelinks {
  width: 30%;
  padding: auto;
  margin: auto;
  font-size: 20px;
  /* color:antiquewhite; */
}
nav {
  text-align: center;
  display: flex;
  padding: auto;
  margin: auto;
}
a {
  margin: auto;
  color: #f78623;
  border-radius: 10px;
}
a:hover {
  background-color: #f79b07;
  height: 1.7em;
  padding:0.4em;
  color:#78330d;
}
a:visited {
  /* color: #6e371a; */
}
h1 {
  font-size: 3em;
}
.interests {
  font-size: 30px;
  font-style: italic;
  margin: 0;
  padding: 20px 15px 15px 15px;
}
.divmain {
  height: 80%;
  padding: 5px 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 3px 3px #f79b07;
  border-radius: 12px;
  /* background-color: #f79b07; */
  background-color: rgba(247, 155, 7,0.8);
  /* background-color: #f1c378;  */
  padding-bottom: 95px;
  /* #f78623; */
}
#quotesImg {
  float: right;
  height: 200px;
  width: 250px;
  padding: 0px;
  box-shadow: 10px 10px 10px 13px #f79b07;
  border-radius: 12px;
}
.description {
  font-size: 22px;
  padding: 15px 15px 30px 15px;
}
footer {
  text-align: center;
  font-family: "segoe UI";
  height: 80px;
  background-image: linear-gradient(to right, brown, orange);
  box-shadow: 0 0 3px 3px #f79b07;
  border-radius: 12px;
  bottom: 0;
  position: absolute;
  width:100%;
}
.main {
  min-height: 100vh;
  /* background-color: #78330d; */
  background-color: #b95c2a;
  position: relative;
}
/* portfolio page */
.projectDesc {
  float: left;
  width: 50%;
}
.projectList {
  float: right;
  width: 40%;
  padding-top: 0px;
}
.projectSection {
  height: 150px;
  /* text-align: left; */
}
.projectName {
  /* background-image: linear-gradient(to right, #f78623, #f79b07); */
  background-image: linear-gradient(to right, #f79b07, #b95c2a);
  margin-bottom: 0;
  height:1.4em;
}
.listitem {
  line-height: 200%;
}
.listitem a {
  color: blueviolet;
}
/* about page */
.hobbySection {
  height: fit-content;
  /* border: 10px; */
  padding: 10px;
  margin: 5px;
  /* background-color: #f7b51b; */
  background-color: #f79b07;
}
.moreAboutMe {
  font-style: italic;
  font-weight: bold;
  padding-left: 10px;
}
.hobbySaying {
  font-style: italic;
  font-weight: bold;
  color: #78330d;
}
.hobbyHeading {
  margin: 0;
}

#gardeningImg,
#hikingImg,
#travelingImg {
  float: right;
  height: 120px;
  width: 200px;
  top: -33px;
  position: relative;
  border-radius: 3px;
}
.alignCenter {
  padding-left: 30%;
  margin: 10px;
}
.greenText {
  color: green;
}
/* contact page */
.divmainContactPage {
  width: 50%;
  height: 18em;
  margin: 10% auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formElement {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formElement > label {
  width: 20%;
}
.formElement > input {
  width: 70%;
  height: 2em;
  border-radius: 8px;
  border: 0;
  background-color: bisque;
}
.formElement > textarea {
  width: 70%;
  height: 6em;
  border-radius: 8px;
  border: 0;
  background-color: bisque;
}
.submit {
  width: 140px;
  height: 40px;
  padding: auto;
  align-self: center;
  border-radius: 8px;
  font-weight: bold;
  border: 3px solid #f78623;
  background-color: #f7b51b;
}
/* nth selector */
/* Selects the second element of div siblings
div.projectSection:nth-child(3) {
  font-style: italic;
} */
/* thank you page */
.divmainThankyouPage {
  width: 50%;
  height: 4em;
  margin: 10% auto;
  padding: 1em;
  text-align: center;
  font-style: italic;
}
/* media queries for large monitors */
/* media queries for screen width 1300px or more */
@media only screen and (min-width: 1300px) {
  body {
    font-size: large;
  }
}
/* media queries for screen width 700px and less */
@media only screen and (max-width: 700px) {
  body {
    font-size: small;
  }
}
